* {
    color: aliceblue;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    ;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}


.left-part {
    display: flex;
    justify-content: center;


}

.logo-section {
    display: flex;


    padding-top: 100px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}


#logo {
    display: flex;
    align-items: center;
    position: absolute;
    color: white;
    z-index: 2;
    padding-top: 100px;
    background-color: transparent;
}


#logo-background {
    margin-top: 100px;
    height: 150px;
    width: 100%;
    color: transparent;
    background-color: black;
    opacity: 60%;
    z-index: 1;
}

#left-image {
    position: relative;
    z-index: 0;
}




.right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    padding-left: 70px;

}

.highlight {
    color: #BE0357;
}

label {
    padding-bottom: 10px;
}

input {
    background-color: black;
    border: 2px solid #f8cae1;
    border-radius: 5px;
    color: white;
    padding: 1px 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #ff8aff;
    /* Change border color on focus */
    outline: none;
    /* Remove default focus outline */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Enhance box shadow on focus */
}


.greetings {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#right-part-text {
    padding: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;

}

.input {
    display: flex;
    flex-basis: calc(50% - 60px);
    max-width: 300px;
    flex-flow: column wrap;
    padding: 20px;
}



.bottom {
    padding-bottom: 100px;
}

button {
    display: inline-block;
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #BE0357;
    transition: background-color 0.3s ease-in-out;
    outline: none;
    margin-bottom: 50px;
}

button:hover {
    background-color: #de6099;
}

button:active {
    background-color: #BE0357;
}

@media(max-width:1000px) {
    .container {
        flex-direction: column;
    }

    #left-image {
        width: 100vw;
        height: 30vh;
        display: flex;
        background-size: auto;
        object-fit: cover;
    }

    #logo-background {

        margin-top: 0px;
    }

    #logo {
        padding-top: 0;
    }


}